version: '3.7'
services:
  search-api:
    build:
      context: app/SearchApi
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      RABBITMQ__HOST: rabbitmq
      RABBITMQ__PORT: 5672
      RABBITMQ__USERNAME: guest
      RABBITMQ__PASSWORD: guest
      JAEGER_SERVICE_NAME: search-api
      JAEGER_SAMPLER_TYPE: const
      JAEGER_ENDPOINT: http://jaeger-collector:14268/api/traces
    ports:
      - "5050:80"
    restart: always
    networks: 
      - search-api-net


  dynamics-adapter:
    build:
      context: app/DynamicsAdapter
    ports:
      - "5051:80"
    environment:
      SCHEDULER__CRON: 0/5 * * * * ?
    restart: always
    networks:
      - search-api-net
    
  rabbitmq:
    image: rabbitmq:3.7.15-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - data-rabbit:/var/lib/rabbitmq/mnesia/rabbit@app-rabbitmq:cached
    restart: always
    networks:
      - search-api-net

  jaeger-collector:
    image: jaegertracing/jaeger-collector
    command: ["--cassandra.keyspace=jaeger_v1_dc1", "--cassandra.servers=cassandra", "--collector.zipkin.http-port=9411"]
    ports:
      - "14269"
      - "14268:14268"
      - "14267"
      - "14250"
      - "9411:9411"
    restart: on-failure
    depends_on:
      - cassandra-schema
    networks: 
      - search-api-net

  jaeger-query:
    image: jaegertracing/jaeger-query
    command: ["--cassandra.keyspace=jaeger_v1_dc1", "--cassandra.servers=cassandra"]
    ports:
      - "16686:16686"
      - "16687"
    restart: on-failure
    depends_on:
      - cassandra-schema
    networks: 
      - search-api-net

  cassandra:
    image: cassandra:3.9
    networks: 
      - search-api-net

  cassandra-schema:
    image: jaegertracing/jaeger-cassandra-schema
    depends_on:
      - cassandra
    networks: 
      - search-api-net

networks:
  search-api-net:

volumes:
  data-rabbit: