<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="nexus" value="%NEXUS_REPO_URL%/repository/nuget-group" />
  </packageSources>

  <!-- Used to store credentials -->
  <packageSourceCredentials>
    <nexus>
      <add key="Username" value="%NEXUS_REPO_USER%" />
      <add key="ClearTextPassword" value="%NEXUS_REPO_PASSWORD%" />
    </nexus>
  </packageSourceCredentials>

  <!-- Used to disable package sources  -->
  <disabledPackageSources />

  <apikeys>
    <add key="%NEXUS_REPO_URL%/repository/nuget-hosted" value="%NEXUS_REPO_API_KEY%" />
  </apikeys>

</configuration>