name: .NET Core

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - name: Build SearchApi
        env:
          NEXUS_REPO_USER: ${{ secrets.nexus_repo_user }}
          NEXUS_REPO_PASSWORD: ${{ secrets.nexus_repo_password }}
          NEXUS_REPO_URL: ${{ secrets.nexus_repo_url }}
          NEXUS_REPO_URI: ${{ secrets.nexus_repo_uri }}
        run: dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/SearchApi
      - name: Test SearchApi
        run: dotnet test
        working-directory: ./app/SearchApi
      - name: Build DynamicsAdapter
        env:
          NEXUS_REPO_USER: ${{ secrets.nexus_repo_user }}
          NEXUS_REPO_PASSWORD: ${{ secrets.nexus_repo_password }}
          NEXUS_REPO_URL: ${{ secrets.nexus_repo_url }}
        run: dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/DynamicsAdapter
      - name: Test DynamicsAdapter
        run: dotnet test
        working-directory: ./app/DynamicsAdapter
