name: .NET Core

on: [pull_request]

env:
  NEXUS_REPO_USER: admin
  NEXUS_REPO_PASSWORD: ${{ secrets.NEXUS_REPO_PASSWORD }}
  NEXUS_REPO_URL: ${{ secrets.NEXUS_REPO_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Debug ENV
        run: printenv
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - name: Install OpenSSL 1.0
        run: echo $NEXUS_REPO_USER && wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl1.0/libssl1.0.0_1.0.2n-1ubuntu5_amd64.deb && sudo dpkg -i libssl1.0.0_1.0.2n-1ubuntu5_amd64.deb
      - name: Build SearchApi
        run: export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1 && dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/SearchApi
      - name: Test SearchApi
        run: dotnet test
        working-directory: ./app/SearchApi
      - name: Build DynamicsAdapter
        run: dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/DynamicsAdapter
      - name: Test DynamicsAdapter
        run: dotnet test
        working-directory: ./app/DynamicsAdapter
