name: .NET Core

on: [pull_request_target]

env:
  NEXUS_REPO_USER: ${{ secrets.NEXUS_REPO_USER }}
  NEXUS_REPO_PASSWORD: ${{ secrets.NEXUS_REPO_PASSWORD }}
  NEXUS_REPO_URL: ${{ secrets.NEXUS_REPO_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET SDK Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.410
      - name: Install OpenSSL 1.0
        run: wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl1.0/libssl1.0.0_1.0.2n-1ubuntu5_amd64.deb && sudo dpkg -i libssl1.0.0_1.0.2n-1ubuntu5_amd64.deb
      - name: Clean SearchApi
        run: dotnet clean --configuration Release
        working-directory: ./app/SearchApi
      - name: Build SearchApi
        run: export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1 && dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/SearchApi
      # - name: Test SearchApi
      #   run: dotnet test
      #   working-directory: ./app/SearchApi
      - name: Clean DynamicsAdapter
        run: dotnet clean --configuration Release
        working-directory: ./app/DynamicsAdapter
      - name: Build DynamicsAdapter
        run: dotnet build --configuration Release --configfile ../NuGet.config
        working-directory: ./app/DynamicsAdapter
      # - name: Test DynamicsAdapter
      #   run: dotnet test
      #   working-directory: ./app/DynamicsAdapter
